{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["defaults"]
      }
    }]
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
